certifi==2019.11.28
chardet==3.0.4
geographiclib==1.50
geopy==1.20.0
idna==2.8
python-dotenv==0.10.3
-e git+https://github.com/SamLubbers/rebel_management_utilities@6391ff5979d8a8b7bde57e3c2e59e7af7d47d2cc#egg=rebel_management_utilities
requests==2.22.0
urllib3==1.25.7
